* {
  padding: 0;
  margin: 0;
}

/* Header starts */
header {
  width: 1300px;
  margin: 0 auto;
  height: 95px;
  background-color: #ff0500;
  color: white;
  padding: 15px;
}

.header-date {
  padding: 0 0 5px 10px;
}

.header-logo {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Newsweek_Logo.svg/800px-Newsweek_Logo.svg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
  width: 530px;
  cursor: pointer;
}

.header-buttons {
  font-weight: 400px;
}

.header-buttons button:first-child {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  padding: 0 10px;
}

.header-buttons button:last-child {
  background-color: white;
  color: #ff0500;
  border: 1px solid white;
  padding: 0 11px 0 15px;
}

.menu-icon {
  display: none;
}

/* Header ends */

/* Nav starts */
nav {
  width: 1300px;
  margin: 0 auto;
}

nav a {
  padding: 0;
  margin: 0 5px;
  font-weight: bold;
}

@media only screen and (max-width: 770px) {
  /* Header starts */
  header {
    width: 100%;
    margin: 0 auto;
    height: 50px;
    background-color: #ff0500;
    color: white;
    padding: 10px;
  }

  .header-date,
  nav {
    display: none;
  }

  .header-logo {
    height: 25px;
    width: 150px;
    margin-bottom: 5px;
    margin-left: -10px;
  }

  .menu-icon {
    display: inline-block;
  }

  /* Header ends */
}

@media only screen and (min-width: 771px) and (max-width: 1024px) {
}
