* {
  padding: 0;
  margin: 0;
}

div,
p {
  line-height: 17px;
}

body {
  background-color: #f4f5f6;
}

/* Header starts */
header {
  /* width: 1300px;
  margin: 0 auto; */
  height: 95px;
  background-color: #ff0500;
  color: white;
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-date {
  padding: 0 0 5px 10px;
}

.header-logo {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Newsweek_Logo.svg/800px-Newsweek_Logo.svg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
  width: 530px;
  cursor: pointer;
}

.header-buttons {
  font-weight: 400px;
}

.header-buttons button:first-child {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  padding: 0 10px;
}

.subs-button {
  color: #ff0500;
  padding: 0 11px 0 15px;
}

/* Header ends */

/* Nav starts */
nav li {
  /* width: 1300px; */
  margin: 0 auto;
  font-size: 12px;
}

nav a {
  padding: 0;
  margin: 0 5px;
  font-weight: bold;
}

/* Nav ends */

/* Main starts */
h6 {
  color: #a0a0a0;
}

.image-text {
  position: relative;
  display: inline-block;
}

.politics-card-title {
  position: absolute;
  color: #f72210;
  left: 0;
  bottom: 0;
  background-color: #e9e8e7;
  cursor: pointer;
}

.main-opinion-a {
  color: black;
  text-decoration: none;
}

.main-opinion-a-newsletter,
.main-opinion-a-newsletter:hover {
  color: #333;
  text-decoration: none;
}

.main-sign-up {
  font-size: 15px;
  font-weight: bold;
}


.main-opinion-a:hover {
  color: #ff0500;
  text-decoration: none;
}

.right-section h6,
img,
.culture-travel h6,
.more-stories h6 {
  cursor: pointer;
}

.btn-culture-travel {
  background-color: #c2d4d7;
}

.right-section,
.left-section {
  position: sticky;
  top: -200%;
}

/* Main ends */

@media only screen and (max-width: 576px) {
  /* Header starts */
  header {
    width: 100%;
    margin: 0 auto;
    height: 60px;
    background-color: #ff0500;
    color: white;
    padding: 10px;
  }

  .header-logo {
    height: 30px;
    width: 150px;
    margin-bottom: 9px;
  }

  .menu-icon {
    display: inline-block;
    width: 30px;
  }

  /* Header ends */
}

@media only screen and (min-width: 577px) and (max-width: 1000px) {
  header {
    width: 100%;
    margin: 0 auto;
    height: 60px;
    background-color: #ff0500;
    color: white;
    padding: 10px;
  }

  .header-logo {
    height: 30px;
    width: 150px;
    margin-bottom: 9px;
  }

  .menu-icon {
    display: inline-block;
    width: 30px;
  }
}

/* A partir de 1000 para abajo, desaparece el navbar  */
